.footer {
    background-color: #1b1b1b;
    @apply w-full hidden;

    .main {
        padding: 80px 0;
    }

    .link {
        font-size: 20px;
        color: #999;

        &:hover, &.activeLink {
            @apply text-primary opacity-80;
        }
    }

    .line {
        width: 1px;
        height: 18px;
        background-color: #666;
        margin: 0 40px;
    }

    .copy {
        font-size: 18px;
        color: #666;
        margin-top: 80px;
        text-align: center;
    }

    @screen md {
        @apply block;
    }
}