.header {
    padding: 12px 0;

    .logo {
        font-weight: 800;
        white-space: nowrap;
        font-size: 42px;
        @apply text-primary;
    }

    .link {
        padding: 8px 30px;
        color: #333;
        font-size: 16px;
        @apply rounded-full whitespace-nowrap;

        &.activeLink {
            box-shadow: 0 1px 8px 0 rgba(17, 88, 232, 0.65);
            @apply text-white bg-primary;

            &:hover {
                @apply text-white;
            }
        }

        &:hover {
            @apply text-primary;
        }
    }

    @screen lg {
        .link {
            padding: 8px 34px;
        }
    }
}

.head {
    @apply hidden bg-white w-full;

    @screen md {
        @apply block;
    }
}